APP_ENV=dev
APP_SECRET=dev_secret_123
APP_DEBUG=1

# Configurações UniFi
UNIFI_REDIRECT_URI=http://luzerna.ifc.edu.br
UNIFI_USER=teste
UNIFI_PASS=123456
UNIFI_CONTROLLER_URL=https://192.168.0.1
UNIFI_CONTROLLER_TYPE=standalone
UNIFI_SITE_IDENTIFIER=default
UNIFI_AUTH_MIN=240
UNIFI_CONTROLLER_VERSION=9.1.120

# URLs da aplicação
URL_LOGIN=https://exemplo.com/login
URL_LOGOUT=https://exemplo.com/logout

# Configurações Gov.br
GOVBR_URL_PROVIDER=https://sso.staging.acesso.gov.br
GOVBR_URL_SERVICE=https://api.staging.acesso.gov.br
GOVBR_REDIRECT_URI=https://exemplo.com/return/callback
GOVBR_SCOPES=openid+email+phone+profile
GOVBR_CLIENT_ID=h-hotspot.luzerna.ifc.edu.br
GOVBR_SECRET=gp-sdfa3Fsf-kmim33if-aovoakdfokasdofk-mfi3d33dadd-fasidjfisd_iasjfisjdfijsd_asdfsdfasdfdsa
