APP_ENV=prod
APP_SECRET=sdfhuashfsudhfsadhfda
APP_DEBUG=0

DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null

# Configurações UniFi
UNIFI_REDIRECT_URI=http://ifc.edu.br
UNIFI_USER=xaxa
UNIFI_PASS=asjdkfjaslkdjfljsadfsda
UNIFI_CONTROLLER_URL=https://minhacontroladora:8443
UNIFI_CONTROLLER_TYPE=standalone
UNIFI_SITE_IDENTIFIER=default
UNIFI_AUTH_MIN=240
UNIFI_CONTROLLER_VERSION=9.1.120
UNIFI_DEBUG=false

# URLs da aplicação
URL_LOGIN=https://meu.dominio.com.br/login
URL_LOGIN_PATH=/login
URL_LOGOUT=https://meu.dominio.com.br/logout
URL_LOGOUT_PATH=/logout

# Configurações Gov.br
GOVBR_URL_PROVIDER=https://sso.acesso.gov.br
GOVBR_URL_SERVICE=https://api.acesso.gov.br

GOVBR_URI=https://meu.dominio.com.br
GOVBR_REDIRECT_URI=https://meu.dominio.com.br/return/callback
GOVBR_REDIRETCT_PATH=/return/callback

GOVBR_SCOPES=openid+email+phone+profile
GOVBR_CLIENT_ID=meu_client_id_recebido_pelo_govbr
GOVBR_SECRET=sajdnfajsdfalsdfasdjflkjasldjfljasdlkfas

# Configurações LDAP
LDAP_HOST=
LDAP_PORT=389
LDAP_ENCRYPTION=none
LDAP_BASE_DN=
LDAP_BIND_DN_TEMPLATE=uid={username},{base_dn}