<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Autenticação Wi-Fi - UFFS {% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/estilo.css') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <footer class="footer">
            <p>
                <a href="https://ati.uffs.edu.br/customer.pl">Suporte técnico</a><br>
                Conectado ao portal externo - Versão 2025

                <br>
                <br>

                Ao entrar você estará reconhecento e aceitando os termos da
                <a href="https://www.uffs.edu.br/atos-normativos/portaria/gr/2018-0216" target="_blank">
                    Política de Segurança da Informação e Comunicações da UFFS.
                </a>

                <br>
                <br>

                Diretoria de Infraestrutura de Informações - DITI
                <br>
                Secretaria Especial de Tecnologia e Informação - SETI
            </p>
        </footer>
    </body>
</html>
