{%  extends 'base.html.twig' %}


{%  block body %}
<body>
    <div class="container">
        <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="Logo gov.br" class="govbr-logo">
        
        <h1>Erro na autenticação</h1>
        
        <p> 
           {{ mensagem }}
        </p>
        
        <!-- <button class="retry-btn" onclick="window.location.reload()">
            Tentar novamente
        </button> -->
        
        <div class="footer">
            Se o problema persistir, entre em contato com o suporte.
        </div>
    </div>
</body>
{%  endblock %}
