{%  extends 'base.html.twig' %}


{%  block body %}
<body>
    <div class="container">
        <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="Logo gov.br" class="govbr-logo">
        
        <h3>Autenticação na rede Wi-Fi</h3>
        
        <p>Para acessar a rede sem fio, faça login com suas credenciais do gov.br. O acesso está sujeito aos termos de uso da rede.</p>
        
        <button class="login-btn" onclick="window.location.href='{{ path('login') }}'">
            <img src="https://www.gov.br/++theme++padrao_govbr/favicons/favicon-32x32.png" alt="Ícone gov.br">
            Entrar com gov.br
        </button>
        
        <button class="login-btn" style="margin-top: 12px;" onclick="window.location.href='{{ path('ldap_form') }}'">
            Entrar com LDAP
        </button>
        
        <div class="footer">
            Este serviço utiliza a plataforma de autenticação digital do governo federal.
        </div>
    </div>
</body>
{%  endblock %}
