{%  extends 'base.html.twig' %}


{%  block body %}
<body>
    <div class="container">
        <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="Logo gov.br" class="govbr-logo">
        
        <h1>Logout realizado</h1>
        
        <div class="footer">
            Volte sempre!!
        </div>
    </div>
</body>
{%  endblock %}
