{%  extends 'base.html.twig' %}


{%  block body %}
<body>
    <div class="container">
        <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png"
             alt="Logo gov.br" class="govbr-logo">
        <h2>Autenticação bem‑sucedida!</h2>
        <p>Você foi autenticado com sucesso e já pode navegar na Internet.</p>
            <button class="logout-btn" onclick="window.location.href='{{ url_provider }}/logout?post_logout_redirect_uri={{ url_logout }}'">
                Fazer Logout 
            </button>
        <div class="footer">
            Para desconectar, use o botão acima.
        </div>
    </div>
</body>
{%  endblock %}
